#ppy-trk-ext-block li.tabbed-content-nav-item {
    cursor: pointer;}

#ppy-trk-ext-block #changes-only .row > div {
    float: left;}
    #ppy-trk-ext-block #changes-only .row > div.change-date {
        width: 20%;}
    #ppy-trk-ext-block #changes-only .row > div.change-info {
        width: 80%;}
        #ppy-trk-ext-block img.change-user-icon {
            width: 23px;
            margin-top: -4px;}

#ppy-trk-ext-block #ppy-ext-chart-container {
    height: 300px;}
    
.canvasjs-chart-credit {
    display: none;}
    span.prev-value {
        text-decoration: line-through;
        padding: 0 10px;}

table tr td {
    background: lightskyblue;}
    table tr.found_by_myself td {
        background: greenyellow;}